footer{
    background-image: linear-gradient(to top left, #87ceeb , #0c1445 );
    height: 50px;
    width: 80%;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 10%; 
    border-style: ridge;
}