*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(245, 245, 245);
}
.header-main {
    width: 80%;
    margin: auto;  
    height: 100px;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr 1fr;
    background: #4c394e;
    border-style: ridge;
}
.header-main__logo{
    display: inherit;
    justify-content: center;
    align-items: center;
}
.header-main__logo img{
    height: 70px;
    background: #4c394e;
    cursor: pointer;
}
.header-main__logo p{
    color:  white;
    text-align: center;
    margin: auto 0;
    font-size: 14px;

}
.header-upper__search{
    display: inherit;
    grid-template-columns: 3fr 1fr;
    align-items: center;

}
.header-upper__search input{
    height: 30%;
    margin-right: 10px;
    border-radius: 3px;
    border: none;
}
.header-upper__search button{
    height: 30%;
    border: none;
    background: #10bbd5;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.header-main__user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: 700
}
.header-main__user button{
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
    font-weight: 900;
    cursor: pointer;
}
.header-main__cart{
    display: inherit;
    justify-content: center;
    align-items: center;
}
.cart-container{
    display: flex;
    cursor: pointer;
}
.header-main__cart img{
    height: 40px;
    width: 50px;
}
.header-main__cart span{
    color:	#ED1B24;
    font-size: 25px;
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
}
.hidden{
    display: none;
}
.login{
    position: fixed;
    width: 300px;
    height: 200px;
    border: 3px solid lightgray;
    border-radius: 10px;
    background: snow;
    z-index: 200;
    left: 50%;
    top:20%;
    margin-left: -150px; 
    filter: blur(0px);
}
.login form{
    display: flex;
    flex-direction: column;
}
.input-text{
    margin: auto;
    margin-top: 24px;
    width: 70%;
    height: 30px;
    border: lightgray solid 1px;
}
.input-submit{
    margin: auto;
    width: 40%;
    margin-top: 24px;
    padding: 5px;
    background: #10bbd5;
    border:none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.new-user{
    position: fixed;
    width: 300px;
    height: 250px;
    border: 3px solid lightgray;
    border-radius: 10px;
    background: snow;
    z-index: 200;
    left: 50%;
    top:20%;
    margin-left: -150px; 
    filter: blur(0px);

}
.new-user form{
    display: flex;
    flex-direction: column;
}
.blur{
    filter: blur(1px);
}
.backdrop{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}
.open{
    display: block !important;
}

