.header-main {
    width: 90%;
    margin: auto;    
    height: 100px;
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr 1fr;
    background-color: lightcyan;
}
div{
    border: 1px black solid
}